<div class="form">
  <fieldset>
    <legend><%= t('model.ticket_type.editing') %></legend>
    <%= render :partial => 'form', :locals => {:disabled => false } %>
  </fieldset>
</div>
<div class="buttons-nav">
  <%= link_to t('model.show'), ticket_type_group_ticket_type_path(@ticket_type.ticket_type_group, @ticket_type) , :class => "button medium" %>
  <%= link_to t('model.back'), ticket_type_group_ticket_types_path(@ticket_type.ticket_type_group) , :class => "button medium" %>
</div>
