<h1><%= t 'model.ticket_type.editing' %></h1>

<%= render 'form' %>

<%= link_to t('model.show'), ticket_type_group_ticket_type_path(@ticket_type.ticket_type_group, @ticket_type) %> |
<%= link_to t('model.back'), ticket_type_group_ticket_types_path(@ticket_type.ticket_type_group) %>
