<div class="form">
  <fieldset>
    <legend><%= t('model.status.editing') %></legend>
    <%= render :partial => 'form', :locals => {:disabled => false } %>
  </fieldset>
</div>
<div class="buttons-nav">
  <%= link_to t('model.show'), @status, :class => "button medium" %>
  <%= link_to t('model.back'), statuses_path , :class => "button medium"%>
</div>
