<h1><%= t('model.panel.editing') %></h1>

<%= render 'form' %>

<%= link_to t('model.show'), place_panel_path(@panel.place, @panel) %> |
<%= link_to t('model.back'), place_panels_path(@panel.place) %>
