body {
    background-color: white;
    color: #000000;
    font-family: comic Sans MS,sans-serif;
    line-height: 1.25;
    margin: 0;
    padding: 0;
}

.header {
    min-height: 50px;
}
.wrapper {
    margin: 0 2% 0 7%;
}
.highlight {
    margin: 2% 0;
    min-height: 270px;
    text-align: center;
}
.highlight .last_ticket {
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 3px 3px 3px #1C8E49;
    background: url("/images/gradgray.png") repeat-x scroll 0 0 white;
    border: 2px solid #1C8E49;
    float: right;
    height: 200px;
    margin: 2% 0;
    padding: 2% 12%;
    width: 420px;
    font-size: 80px;
    color: red;
}

.highlight .last_ticket span{ 
   }
.highlight .arrow {
    margin: 7% 2%;
}
.highlight .right {
    float: right;
    height: 130px;
    width: 130px;
}
.highlight .left {
    float: right;
    height: 130px;
    width: 130px;
}
.history_calls {
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 3px 3px 3px #D1F0E0;
    border: 1px solid #1C8E49;
    height: 150px;
    margin : 0 0 0 10%;
    padding: 5px;
    text-align: center;
}
.history_calls .item {
    float: left;
}
div.history_calls div.label {
    -moz-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 #D1F0E0;
    border: 3px solid #1C8E49;
    color: #1C8E49;
    padding: 5px;
    position: relative;
}
.item .content {
    -moz-border-radius: 3px 3px 3px 3px;
    -moz-box-shadow: 3px 3px 3px #686B68;
    background: url("/images/gradgray.png") repeat-x scroll 0 0 white;
    border: 2px solid gray;
    margin: 2px;
    padding: 20px;
}
.item .botton {
    -moz-border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 3px 3px 3px #686B68;
    background: url("/images/gradblue.png") repeat scroll 0 0 transparent;
    border: 2px solid;
    margin: 5px;
    padding: 7.5px;
}
.footer {
    background: url("/images/hsi-logo.png") no-repeat scroll right center transparent;
    border-bottom: 5px double #6EE090;
    height: 100px;
    margin: 1% 2% 1% 17%;
}
img.logo {
    height: 500px;
    position: absolute;
    width: 500px;
    z-index: -1;
}
.highlight .label {
    clear: both;
    font-size: 25px;
    text-align: center;
}
