* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: #000000;
    font-family: Arial,comic Sans MS,sans-serif;
    line-height: 1.25;
}

.left{
    width : 65%;
    float : left;
    position : relative;
    top : 50px;

}
.right{
    width : 35%;
    float : left;
}

.header {
    text-align: right;
    padding-top: 15px;
    background : #00873B;
    color : #FFF;
    margin-bottom : 20px;
}

.wrapper {
    margin: 0 2% 0 7%;
}

.highlight {
    min-height: 270px;
    text-align: center;
    margin-top : 80px;
}

.highlight .last_ticket {
    -moz-border-radius: 5px;
    border-radius : 5px;
    background: url("/images/gradgray.png") repeat-x scroll 0 0 white;
    border: 2px solid #1C8E49;
    height: 100%;
    float :right;
    width: 59%;
    height : 310px;
}

.highlight .arrow {
    float: right;
    height: 130px;
    width: 20%;
    margin : 10% 0 0;
}
.highlight .last_ticket .infos {
  font-size:65px;
  color : #1C8E49;
  margin : 15px 0;
}

.highlight .last_ticket .label {
  width : 100%;
  position : relative;
  font-size: 150px;
  letter-spacing: -5px;
  color: red;
  margin : 10px 0;
}

.history_calls {
    background :url("/images/overlay.png") repeat-x scroll 0 0 #1C8E49;
    -moz-border-radius: 5px;
    border-radius : 5px;
    border: 1px solid #1C8E49;
    margin : 60px 30px 0 30px;
    padding: 5px;
    text-align: center;
}

.history_calls .label {
    color: #FFF;
    font-size : 30px;
    font-weight : bold;
    padding: 5px;
    position: relative;
}

.items {
  width :49%;
  float:right;
  margin :auto 5px;
}

.items table{
  border-spacing : 0;
}
.items .item {
    -moz-border-radius: 3px;
    border-radius : 3px;
    -moz-box-shadow: 3px 3px 3px #686B68;
    box-shadow : 0 0 3px #686B68;
    background: url("/images/gradgray.png") repeat-x scroll 0 0 white;
    border: 2px solid gray;
    margin: 2px;
    font-size : 40px;
    padding: 1px;
    height : 50px;
}
.item .botton {
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 3px #686B68;
    -moz-box-shadow: 3px 3px 3px #686B68;
    background: url("/images/gradblue.png") repeat scroll 0 0 transparent;
    border: 2px solid;
    margin: 5px;
    padding: 7.5px;
}

img.logo {
    position: absolute;
    top : 90px;
    margin : 40px;
    width: 200px;
    z-index: -1;
    border : 0;
}

.totem .ticket_type {
  background: none repeat scroll 0 0 #00873B;
  border: 2px solid #FFFFFF;
  -moz-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
  -moz-box-shadow: 3px 1px 15.9px #000000;
  box-shadow: 3px 1px 15.9px #000000;
  color: #FFFFFF;
  float: right;
  font-size: 50px;
  margin: 10px;
  padding: 20px 30px 10px;
  text-align: left;
  text-shadow: 2px 2px #1C8E49;
  width: 600px;
}

.totem .ticket_type_group {
    color: #D10000;
    float: right;
    font-size: 48px;
	font-weight: bold;
    padding: 30px 30px 5px;
    text-align: left;
    width: 600px;
    margin: 10px 140px;
}

.totem_group {
  margin-top: 150px;
}

.totem_group .ticket_type_groups {
  background: none repeat scroll 0 0 #00873B;
  border: 2px solid #FFFFFF;
  -moz-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
  -moz-box-shadow: 3px 1px 15.9px #000000;
  box-shadow: 3px 1px 15.9px #000000;
  color: #FFFFFF;
  float: right;
  font-size: 50px;
  margin: 18px 15px 15px;
  padding: 25px 0 15px 16px;
  text-align: left;
  text-shadow: 2px 2px #1C8E49;
  width: 400px;
}

.totem_group .ticket_type_groups a:link    { color: #FFFFFF; text-decoration:none; }
.totem_group .ticket_type_groups a:visited { color: #FFFFFF; text-decoration:none; }
.totem_group .ticket_type_groups a:hover   { color: #FFFFFF; text-decoration:none; }
.totem_group .ticket_type_groups a:active  { color: #FFFFFF; text-decoration:none; }

div.ticket_type_groups:hover {
  cursor: pointer;
  cursor: hand;
  box-shadow: 5px 5px 5px 5px #CCCCCC;
  -moz-box-shadow: 5px 5px 5px 5px #CCCCCC;
}

div.ticket_type:hover {
  cursor: pointer;
  cursor: hand;
  box-shadow: 5px 5px 5px 5px #CCCCCC;
  -moz-box-shadow: 5px 5px 5px 5px #CCCCCC;
}

.button, .button:visited {
  background: #222 url(/images/overlay.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer
}
.button:hover { background-color: #111; color: #fff; }
.button:active { top: 1px; }
.pink.button, .magenta.button:visited { background-color: #1C8E49; }
.pink.button:hover { background-color: #36C970; }

.super.button, .super.button:visited {
  font-size: 34px;
  padding: 8px 14px 9px;
}

.screen_overlay{
  background: none repeat scroll 0 0 black;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.hsi-logo {
  background: url("/images/hsi-logo-200.jpeg") no-repeat scroll 0 0 transparent;
  height: 150px;
  left: 10px;
  position: absolute;
  text-indent: -10000px;
  top: 110px;
  width: 200px;
}

.hour-totem {
  color: #00873B;
  font-size: 30px;
  margin-right: 30px;
    margin-top: 60px;
  padding-right: 20px;
}


