* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: #000000;
    font-family: Arial,comic Sans MS,sans-serif;
    line-height: 1.25;
}

.left{
    width : 65%;
    float : left;
    position : relative; 
    top : 50px;

}
.right{
    width : 35%;
    float : left;
} 

.header {
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
}
.wrapper {
    margin: 0 2% 0 7%;
}

.highlight {
    margin: 15% 5% 0;
    min-height: 270px;
    text-align: center;
}

.highlight .last_ticket {
    -moz-border-radius: 5px;
    border-radius : 5px;
    background: url("/images/gradgray.png") repeat-x scroll 0 0 white;
    border: 2px solid #1C8E49;
    height: 100%;
    margin: auto;
    width: 100%;
    padding : 4% 2% 12%;

}
.highlight .last_ticket .infos {
  font-size:40px; 
  color : black;
  margin : 15px 0;
}

.highlight .last_ticket .label { 
  width : 60%;
  float : right;
  position : relative; 
  font-size: 105px;
  letter-spacing: -5px;
  color: red;
  margin : 10px 0;
}

.highlight .arrow {
    float: right;
    height: 130px;
    width: 20%; 
}

.history_calls {
    -moz-border-radius: 5px;
    border-radius : 5px;
    border: 1px solid #1C8E49;
    margin : 60px 30px 0 30px;
    padding: 5px;
    text-align: center;
}

div.history_calls div.label {
    -moz-border-radius: 5px 5px 5px 5px;
    background :url("/images/overlay.png") repeat-x scroll 0 0 #1C8E49;
    color: #FFF;
    font-size : 26px;
    font-weight : bold;
    padding: 5px;
    position: relative;
}
.items .item {
    -moz-border-radius: 3px;
    border-radius : 3px;
    -moz-box-shadow: 3px 3px 3px #686B68;
    box-shadow : 0 0 3px #686B68; 
    background: url("/images/gradgray.png") repeat-x scroll 0 0 white;
    border: 2px solid gray;
    margin: 2px;
    font-size : 30px;
    padding: 1px;
}
.item .botton {
    -moz-border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 3px 3px 3px #686B68;
    background: url("/images/gradblue.png") repeat scroll 0 0 transparent;
    border: 2px solid;
    margin: 5px;
    padding: 7.5px;
}

img.logo {
    height: 500px;
    position: absolute;
    width: 415px;
    z-index: -1;
}

.totem .ticket_type {
    background: none repeat scroll 0 0 #D1F0E0;
    border: 4px solid #1C8E49;
    border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    color: #FFFFFF;
    float: right;
    font-size: 60px;
    padding: 30px 30px 15px;
    text-align: left;
    text-shadow: 2px 2px #1C8E49;
    width: 800px;
    margin: 10px;
}

.totem .ticket_type_group {
    color: #1C8E49;
    float: right;
    font-size: 35px;
    padding: 30px 30px 5px;
    text-align: left;
    width: 800px;
    margin: 0px 140px;
}

div.ticket_type:hover {
  cursor: pointer;
  cursor: hand;
  box-shadow: 5px 5px 5px 5px #CCCCCC;
  -moz-box-shadow: 5px 5px 5px 5px #CCCCCC;
}

.button, .button:visited {
  background: #222 url(/images/overlay.png) repeat-x; 
  display: inline-block; 
  padding: 5px 10px 6px; 
  color: #fff; 
  text-decoration: none;
  -moz-border-radius: 6px; 
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer
}
.button:hover { background-color: #111; color: #fff; }
.button:active { top: 1px; }
.pink.button, .magenta.button:visited { background-color: #1C8E49; }
.pink.button:hover { background-color: #36C970; }

.super.button, .super.button:visited {
  font-size: 34px; 
  padding: 8px 14px 9px;
}

