* {
    margin: 0;
    padding: 0;
}

html, body{
  font: 13.34px helvetica,arial,freesans,clean,sans-serif;
  height: 100%;
}

#page{
 /* background: url("/images/body.png") repeat-x scroll 0 0 #F2F2F2; */
 background: url("/images/body.gif") ;
 min-height: 100%;
 height: auto !important;
 height: 100%;
 margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
.header { 
  height : 91px;
  width : 920px;
  margin: 0 auto;
  text-align: right;
}
.header h1.logo{
    color: #C5E008;
    font-family: georgia,serif;
    font-size: 60px;
    font-weight: normal;
    letter-spacing: -5pt;
    position: relative;
    right: 60px;
    text-shadow: 1px 1px 1px #000000;
    top: 30px;
}

footer{
  height: 100px; 
# background : gray;
}

#main {
  margin : 20px auto;
  width: 920px;  
  min-height : 350px;
  background-color : #FFF;
  -moz-box-shadow: 0 0 10px #777; 
  -webkit-box-shadow: 0 0 10px #777;
   box-shadow : 0 0 10px #777;
}

#main .login.infos {
    background: none repeat scroll 0 0 rgba(197, 224, 0, 0.898);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    height: 40px;
    margin: auto 0 auto auto;
    padding: 5px;
    position: relative;
    right: -15px;
    text-align: center;
    top: -15px;
    width: 300px;
    z-index: 10;	
}

.login .user{
    font-size: 15px;
    margin: 10px 20px;
}

.logout.link {
   color: #12130D;
   font-size: 15px;
   list-style: none outside none;
   margin: 10px 0;
   text-decoration: none;
}

img.logout {
  margin: 10px 0 0;
  vertical-align: bottom;
}

#main .triangle {
  border-color: transparent transparent transparent rgba(197, 224, 0, 0.9);
  border-style: solid;
  border-width: 15px;
  height: 0;
  margin: auto 0 auto auto;
  position: relative;
  right: -30px;
  top: -30px;
  width: 0;
}


#main .nav {
  height: auto;
  width : 100px;
}

/* MENU */
#menu { 
  position : relative ;
  top : 10px;
}
#menu ul {
 list-style:none; 
}
#menu ul li { 
 display:inline; 
 float:left; 
 margin-bottom:20px; 
}

/* :first-child pseudo selector with rounded top left corner */
#menu ul li:first-child a { 
 -moz-border-radius-topleft: 12px; 
 -webkit-border-top-left-radius:12px; 
}

/* :last-child pseudo selector with rounded top right corner */
#menu ul li:last-child a { 
  -moz-border-radius-topright: 12px; 
  -webkit-border-top-right-radius:12px; 
}

/* background color set to RGBA, with opacity on 0.3 and also using text-shadow */
#menu ul li a { 
  padding:15px; 
  background: rgba(192, 192, 192, 0.3); 
  text-decoration: none; 
  font: bold 14px Helvetica, Sans-Serif; 
  letter-spacing: -1px; 
  color: #402e16;
  text-shadow: #eee 0px 0px 2px; 
}
	
/* hover state shows a linear gradient and opacity it brought down to 0.9 and also shows a very slight grey gradient on top */
#menu ul li a:hover { 
  -moz-box-shadow: 0 -5px 10px #777; 
  -webkit-box-shadow: 0 -5px 10px #777;
  background: rgba(197, 224, 0,0.3) !important; 
}

/* another RGBA background, now with an opacity of 0.8 */
#menu ul li a.active {
 background: rgba(197, 224, 0,0.6) !important; 
}

.buttons-nav {
  padding : 4px 10px;
  position : relative;
  margin-bottom : 10px ;
  top : -10px;
}
.button, .button:visited {
  background: #C5E008 url(/images/overlay.png) repeat-x; #1C8E49
  display: inline-block; 
  padding: 5px 10px 6px; 
  color:#402E16; 
  text-decoration: none;
  -moz-border-radius: 6px; 
  -webkit-border-radius: 6px;
  border-radius : 6px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  box-shadow : 0 1px 3px rgba(0,0,0,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer;
  margin : 0 5px;
}
.button:hover { background-color: #A5BA0D; }  
.button:active { top: 1px; }

/* Sizes of buttons */
.large.button, .large.button:visited {
  font-size: 34px; 
  padding: 8px 14px 9px;
}

.medium.button, .medium.button:visited {
  font-size: 15px; 
  padding: 4px 7px 4.5px;
}

