
li{
    list-style: none;	
}


#page_container1{
	height: 320px;	
}

#paging_container2{
	height: 356px;	
}

#paging_container3{
	height: 190px;
}

#paging_container4{
	height: 307px;	
	overflow: hidden;
}

.ellipse{
	float: left;
}

.container{
	width: 260px;
	float: left;
	margin: 50px 10px 10px;
	padding: 20px;
}

.page_navigation , .alt_page_navigation{
	padding-bottom: 10px;
}

.page_navigation a, .alt_page_navigation a{
	padding:3px 5px;
	margin:2px;
	color:white;
	text-decoration:none;
	float: left;
	font-family: Tahoma;
	font-size: 12px;
	background-color:#DB5C04;
}
.active_page{
	background-color:white !important;
	color:black !important;
}	

.content, .alt_content{
	color: black;
}

.content li, .alt_content li, .content > p{
	padding: -1px;
}

/**************************************************/

.main{
	/* The main container div */
	position:relative;
	margin:25px 0 25px 7%;
	width:177px;
        height:430px;
	background-color: #E3E3E4;
	border:1px solid #CCCCCC;
	padding:15px 12px 30px;
        text-align: center;
        float: left;
	
	/* CSS3 rounded cornenrs */
	
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
}

.holder{
	/* The unordered list that is to be split into pages */

	width:177px;
        height:400px;
	overflow:hidden;
	position:relative;
	background-color: #EDECD3;
	padding-bottom:10px;

	/*	CSS3 inner shadow (the webkit one is commeted, because Google Chrome
		does not like rounded corners combined with inset shadows): */

	-moz-box-shadow:0 0 10px #222 inset;
	/*-webkit-box-shadow:0 0 10px #222 inset;*/
	box-shadow:0 0 10px #222 inset;
}

.swControls{
	position:absolute;
	margin-top:10px;
}

a.swShowPage{

	/* The links that initiate the page slide */

	background-color:#444444;
	float:left;
	height:15px;
	margin:4px 3px;
	text-indent:-9999px;
	width:15px;
        text-align: center;
	/*border:1px solid #ccc;*/
	
	/* CSS3 rounded corners */
	
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}

a.swShowPage:hover,
a.swShowPage.active{
	background-color:#1C8E49;
	
	/*	CSS3 inner shadow */
	
	-moz-box-shadow:0 0 7px #1e435d inset;
	/*-webkit-box-shadow:0 0 7px #1e435d inset;*/
	box-shadow:0 0 7px #1e435d inset;
}

.holder li{
	background-color:#F4F4F4;
	list-style:none outside none;
	margin:10px 10px 0;
	padding:5px;
	float:left;

	/* Regular CSS3 box shadows (not inset): */

	-moz-box-shadow:0 0 5px #111111;
	-webkit-box-shadow:0 0 5px #111111;
	box-shadow:0 0 5px #111111;
}

.holder, .holder li{
	/* Applying rouded corners to both the holder and the holder lis */
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
#tickets_waiting li { 
  cursor: pointer;
  cursor: hand;
}
.clear{
	/* This class clears the floated elements */
	clear:both;
}

#dashboard {position : relative; clear : both } 
#dashboard .support { position : relative; float: right; width : 355px;}
.support .tags { float : left; margin : 30px 0; }

.tags li {
    -moz-border-radius: 0 10px 10px 0;
    margin: 10px 0;
    padding: 5px;
    width: 100px;
    background-color: #E3E3E4;
    border:1px solid #CCCCCC;
    text-align : center;
}

.tags li.tittle {
    color : red;
    width: 115px;
    margin : 25px 0 0 0;
}

.tags li.content {
  height : 40px;
}
