<div class="form">
  <fieldset>
    <legend><%= t('model.totem.editing') %></legend>
    <%= render :partial => 'form', :locals => {:disabled => false } %>
  </fieldset>
</div>
<div class="buttons-nav">
  <%= link_to t('model.show'), place_totem_path(@totem.place, @totem), :class => "button medium"  %> 
  <%= link_to t('model.back'), place_totems_path(@totem.place) , :class => "button medium" %>
</div>
