<h1><%= t('model.totem.editing') %></h1>

<%= render 'form' %>

<%= link_to t('model.show'), place_totem_path(@totem.place, @totem) %> |
<%= link_to t('model.back'), place_totems_path(@totem.place) %>
