<h1>Listing Ticket Types</h1>

<%= form_for( Ticket.new ) do |f| %>
  <%= f.hidden_field :ticket_type_id %>
  <table>
    <tr>
      <th>Value</th>
    </tr>
    <tr>
      <td><a href="#term" rel="facebox">Terms</a></td>
    </tr>
    <% @ticket_types.each do |ticket_type| %>
      <tr>
        <td><a id="<%= ticket_type.id %>" class="trigger_submit"><%= ticket_type.value %></a></td>
      </tr>
    <% end %>
  </table>
<% end %>
