<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @ticket_type_group.value %>
</p>


<%= link_to 'Edit', edit_ticket_type_group_path(@ticket_type_group) %> |
<%= link_to 'Back', ticket_type_groups_path %>
