<div class="form">
  <fieldset>
    <legend><%= t('model.wicket.editing') %></legend>
    <%= render :partial => 'form', :locals => {:disabled => false } %>
  </fieldset>
</div>
<div class="buttons-nav">
  <%= link_to t('model.show'), place_wicket_path(@wicket.place , @wicket), :class => "button medium" %> 
  <%= link_to t('model.back'), place_wickets_path(@wicket.place), :class => "button medium"  %>
</div>
