<h1><%= t('model.wicket.editing') %></h1>

<%= render 'form' %>

<%= link_to t('model.show'), place_wicket_path(@wicket.place , @wicket) %> |
<%= link_to t('model.back'), place_wickets_path(@wicket.place) %>
