/********************************************************************

Project: Formee - http://www.formee.org
Last Updated: 19/04/2010
Version: 1.1
Authors: Bernard De Luna - http://www.bernarddeluna.com
             Daniel Araujo - http://www.dnlaraujo.com.br
			 Marcello Manso - http://www.marcellomanso.com.br

********************************************************************
Style
********************************************************************/



/* Form Style */
.form {
  font: normal 12px/1em arial, Verdana, "Trebuchet MS", Helvetica, sans-serif;
  min-height : 340px;
}

.form fieldset {
	border: 1px solid #C5E008;
	border-top:3px solid #C5E008;
	background: #EAEAEA ;
	padding-bottom: 1.2em;
	margin: auto 10px ;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius : 3px;
}

/* hover effect */
.grid-1-12:hover, .grid-2-12:hover, .grid-3-12:hover, .grid-4-12:hover, .grid-5-12:hover, .grid-6-12:hover, .grid-7-12:hover, .grid-8-12:hover, .grid-9-12:hover, .grid-10-12:hover, .grid-11-12:hover, .grid-12-12:hover {background:#DCEC66;}
.field-button:hover {background:transparent;}

/* Form legend and titles */
.form legend {
	font-size:1.7em;
	padding: 10px 10px 15px;
	margin-bottom: 10px;
	background:#C5E008;
	margin-left:1.04%;
	color:#402E16;
}

/* form elements  */
.form-lbl {
	font-size:1em;
	font-weight: bolder;
}
.form-req {
	font-weight: bold;
	font-style:normal;
	color:#d10000;
	font-size:1.2em;
}
.form .form-txt, .form textarea, .form select {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius : 3px;
	border-color:#235485;
	background: #fff;
	color:#333;
	font: normal 12px/1em arial, Verdana, "Trebuchet MS", Helvetica, sans-serif;
}
.form .form-txt:hover, .form textarea:hover, .form select:hover {
	border-color:#235485;
	background: #fafafa;
	color:#333;
}
.form .form-txt:focus, .form textarea:focus, .form select:focus {
	border-color:#235485;
	background: #fafafa;
	color:#402E16;
}

.form .form-txt:disabled, .form textarea:disabled, .form select:disabled {
  border-color : transparent;
  background : transparent;
  font-weight : bold;
}

/* form msg status  */
.form-msg-info, .form-msg-warning, .form-msg-error, .form-msg-success {
	padding-left: 27px;
	font-size:0.9em;
	border-bottom: 1px solid #ccc;
}
.form-msg-info {
	background: #d1ecf7 url(/assets/form/form-ic-info.png) no-repeat 5px 4px;
	border-color:#bcdfef;
	color:#11689e;
}
.form-msg-warning {
	background: #fff6bf url(/assets/form/form-ic-warning.png) no-repeat 5px 4px;
	border-color:#fceb77;
	color:#957210;
}
.form-msg-error {
	background: #fad0d0 url(/assets/form/form-ic-error.png) no-repeat 5px 4px;
	border-color:#f6abab;
	color:#b01717;
}
.form-msg-success {
	background: #e5f8ce url(/assets/form/form-ic-success.png) no-repeat 5px 4px;
	border-color:#d0f1a6;
	color:#62b548;
}

/* form tables */
.form table {
  margin : 10px 10px;
  border-spacing : 0;
  border:  1px solid #C5E000;
  border-radius : 5px 5px 0 0;
  font-weight : bold;
}

.form table th{
  background-color :#C5E000;
  font-size : 1.2em;
  padding : 5px ;
  text-align : left;
}

.form table th.options{
  text-align : center;
}
.form table .row {
  width : 100%;
  height:100%;
}

.form table tr:hover {
  background:#DCEC66;
}

.form tr:nth-child(odd) {
  background-color : #DBDBDB;
}

.form table td {
  padding : 5px;
  color :  #402E16;
  font-size : 1.1em;
  border-top : 1px solid  #C0C0C0;
}

.form .search {
  position : relative;
  margin : auto 10px auto auto;
  width : 350px;
  top : 10px;
  text-align : right;
}

.form .search input{
  border : 1px solid #C0C0C0;
  border-radius: 3px;
  padding : 5px;
  margin : 5px;
  color : #333;
  font-size : 1.1em;
  width : 170px;
}

.form .search input[type=submit] {
  border : 1px solid #C0C0C0;
  border-radius: 3px;
  padding : 5px;
  margin : 5px;
  color : #333;
  font-size : 1.1em;
  width : 70px;
}

.form .search input[type=checkbox] {
  border : 1px solid #C0C0C0;
  border-radius: 3px;
  padding : 5px;
  margin : 5px;
  color : #333;
  font-size : 1.1em;
  width : 0px;
}

.form .search .date {
  width : 105px;
  text-align : right;
  background : url(/assets/form/calendar.gif) no-repeat 5px 5px;
}

.form .spotlight {
  color : #402E16;
  margin : 10px;
  font-weight : bold;
  font-size : 18pt;
}

.form .graph {
  padding-bottom : 20px;
}

.form .print {
  float : right;
  padding-right : 15px;
  padding-top : 20px;
}

.form .select-date select {
	width : 130px;
}

.place-spot { 
    font-size : 20px;
	margin-left : 10px;
	vertical-align:middle;
}
