<div class="form">
  <fieldset>
    <legend><%= t('model.place.new') %></legend>
    <%= render :partial => 'form', :locals => {:disabled => false } %>
  </fieldset>
</div>
<div class="buttons-nav">
  <%= link_to t('model.back'), places_path, :class => "button medium"  %>
</div>
